form {
    background-color: aliceblue;
    width: 300px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border-radius: 3px;
    padding: 7px;
    width: 15%;
}

select {
    width: 20%;
    padding: 7px 0 7px 5px;
    margin: 2px 0 2px 7px;
}

#opcao {
    color: red;
}

body {
    /* background-color: rgb(26, 25, 25); */
}

button {
    width: auto;
    text-align: center;
    padding: 15 px;
    border: 2px solid;
    background-color: rgb(76, 203, 156);
    cursor: pointer;
}

button:hover {
    background-color: aquamarine;
}